
body{
  margin: 0;
  width: 100%;
  height: 10%;
  background: rgb(0,14,36);
  background: linear-gradient(90deg, rgba(0,14,36,1) 0%, rgba(7,28,61,1) 33%, rgba(6,12,23,1) 100%, rgba(35,57,78,1) 100%);
}

ul.nav.justify-content-center{
  padding-top: 1rem;
  margin-bottom: 2rem;

}
      
a.nav-link { 
  color: white;
  font-size: 11px !important;
}

.navbar-collapse {

  align-items: center !important;
}



a.nav-link.active {
  background-color: transparent;
  border-bottom: 2px solid #3a9d5e;
}


.topnav {
  overflow: hidden;
  background-color: #f1f1f1;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

.topnav a.active {
  border-bottom: 3px solid red;
}

h2{
  color: white;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.card {
  
  background-color: transparent;
  border:transparent
  
}

h5.card-title {
  text-align: center;
  color: aliceblue;
  font-size: 11px;


}

#musicPlayer {
  transition: var(--transition-time);
}

.now-playing-bar {
  height: 90px;
  background-color: #181818;
  border-top: 1px solid #282828;
  color: #b3b3b3;
}
.now-playing-bar > div.row {
  height: 100%;
}
.np-links-to {
  font-size: 14px;
  line-height: 1.3;
}
.np-links-to a {
  color: #b3b3b3;
}
.my-btn {
  border-radius: 50px;
}
.dropdown-menu {
  min-width: 2rem;
  background-color: #181818;
  border: 1px solid #282828;
  /* color: #f8f8f8ce; */
  color: #b3b3b3;
}
.dropup .dropdown-toggle::after {
  display: inline-block;
  margin: auto;
  vertical-align: 0.255em;
  content: '';
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}
.custom-range::-webkit-slider-thumb {
  background: #28a745;
}

.custom-range::-moz-range-thumb {
  background: #28a745;
}

.custom-range::-ms-thumb {
  background: #28a745;
}

@media (max-width: 575.98px) {
  .now-playing-bar {
    height: 45px;
    background-color: #181818;
    border-top: 1px solid #282828;
    color: #b3b3b3;
    bottom: 45px;
  }
}

@media (max-width: 767px) {
  .now-playing-bar {
    bottom: 45px;
  }
}
